<div class="container-fluid">


    <div class="header">
        <span class="title">All Campaigns</span>
        <button class="btn-create-campaign" type="button" label="Create Campaign"></button>
    </div>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Status</th>
                <th>Start Date</th>
                <th>End Date</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let config of configs">
                <td>{{config.id}}</td>
                <td>{{config.name}}</td>
                <td><span [attr.status]="config.status">{{config.status}}</span></td>
                <td>{{config.startDate}}</td>
                <td>{{config.endDate}}</td>
                <td></td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan=6>
                </td>
            </tr>
        </tfoot>
    </table>
</div>
